*{
  margin:5px auto;
  background-size: cover;
  // background-image: url("http://www.intrawallpaper.com/static/images/maxresdefault_jKFJl8g.jpg");
  // background-image: url("http://www.intrawallpaper.com/static/images/background-wallpapers-24_HDsgH3x.jpg");
  // background-image: url("https://images3.alphacoders.com/102/102727.jpg");
  // background-image: url("https://images3.alphacoders.com/294/29499.jpg");
  background-image: url("http://www.intrawallpaper.com/static/images/blocks_rainbow_3d_graphics_background_76559_1920x1080_IX3eukJ.jpg");
}

.container {
  // display: flex;
  // align-items: center;
}

h1 {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  text-shadow: 2px 2px white;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 48px;
}
